.bg-banner {
    width: 100%;
    height: 100%;
    background-image: url(../img/banners/banner-home.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-search {
    width: 50%;
    height: 60vh;
    background-image: url(../img/banners/banner-resultado-1.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


.logo-header {
    width: 100px;
    height: 60px;
}