.card-img-default {
  width: 100%;
  height: 100%;
  background-position: center;
}

.card-login-container {
  width: 500px;
}

.btn-tooltip-default {
  width: auto;
  height: auto;
  color: var(--bg-yellow);
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
  outline: none;
  font-size: 1.2rem;
}

.fa-star {
  color: var(--bg-yellow);
}

.wsmall {
  width: 90px;
}
